@tailwind base;
@tailwind components;
@tailwind utilities;

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 1000

.acme-regular {
  font-family: "Acme", serif;
  font-weight: 400;
  font-style: normal;
}


.itim-regular {
  font-family: "Itim", serif;
  font-weight: 400;
  font-style: normal;
}